@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.main {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
  flex-direction: column;
  padding-top: 3rem;
}

.inp-box {
  display: flex;
  width: 500px;
}

.inp {
  background-color: #fff;
  border: 1px solid #c1c1c1;
  margin: 0.6rem 0;
  padding: 0.5rem;
  outline: none;
  width: 75%;
  border-radius: 0.4rem;
}

.inp:focus {
  border: 1px solid #3399ff;
}

.btn {
  background-color: #fff;
  border: 1px solid #c1c1c1;
  margin: 0.6rem 0;
  padding: 0.5rem;
  outline: none;
  border-radius: 0.4rem;
  width: 25%;
  background-color: #3399ff;
  font-weight: bold;
}

.btn:active {
  scale: 0.95;
}

.todoCard {
  display: flex;
  min-width: 500px;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0.5rem;
  border-radius: 0.4rem;
  background-color: #a3d1ff;
  margin: 6px 0;
}

.todoCard > h3 {
  margin: 0 1rem;
}
.todoCard > p {
  margin: 0 1rem;
  font-size: 0.8rem;
}

.btn-sm {
  background: none;
  border: none;
  font-size: 1.2rem;
  padding: 2px;
  color: #fff;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
}

.btn-sm:active {
  scale: 0.95;
}

.modifyBtns {
  display: flex;
  margin: 0 1rem;
}

.editBtn {
  background-color: #00559a;
}
.removeBtn {
  background-color: rgb(141, 0, 0);
}
